---
default_language_version:
  python: python3
minimum_pre_commit_version: "1.14.0"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.1.0
    hooks:
      - id: end-of-file-fixer
        exclude: '^ci-scripts/infra-setup/roles/rrcockpit/files/grafana/.*\.json$'   # noqa
      - id: trailing-whitespace
      - id: mixed-line-ending
      - id: check-byte-order-marker
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-json
      - id: check-yaml
        files: .*\.(yaml|yml)$
        # https://github.com/pre-commit/pre-commit-hooks/issues/273
        args: ["--unsafe"]
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.1.4
    hooks:
      - id: isort
  - repo: https://github.com/PyCQA/flake8.git
    rev: 3.8.3
    hooks:
      - id: flake8
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        require_serial: true
        args: [
          "-j 4",
          "--reports=n", # Simple report -> Just the problems
          "--fail-under=9",
          "--output=pylint.report.txt", # Does not get printed on console anymore
          "--output-format=text"
        ]
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.24.2
    hooks:
      - id: yamllint
        files: \.(yaml|yml)$
        types: [file, yaml]
        entry: yamllint --strict -f parsable
  - repo: https://github.com/ansible/ansible-lint.git
    rev: v5.3.2
    hooks:
      - id: ansible-lint
        always_run: true
        pass_filenames: false
        # do not add file filters here as ansible-lint does not give reliable
        # results when called with individual files.
        # https://github.com/ansible/ansible-lint/issues/611
        verbose: true
        entry: bash -c "ANSIBLE_LIBRARY=plugins/modules ansible-lint --force-color -p -v"   # noqa
  - repo: https://github.com/openstack-dev/bashate.git
    rev: 2.0.0
    hooks:
      - id: bashate
        entry: bashate --error . --ignore=E006,E040
        # Run bashate check for all bash scripts
        # Ignores the following rules:
        # E006: Line longer than 79 columns (as many scripts use jinja
        #       templating, this is very difficult)
        # E040: Syntax error determined using `bash -n` (as many scripts
        #       use jinja templating, this will often fail and the syntax
        #       error will be discovered in execution anyway)
