[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group rhos-cre
	owner = group user/David Sariel (dsariel)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group rhos-cre
	label-Code-Review = -2..+2 group user/David Sariel (dsariel)
	label-Verified = -1..+1 group rhos-cre
	label-Verified = -1..+1 group user/David Sariel (dsariel)
	push = group rhos-cre
	push = group user/David Sariel (dsariel)
	read = group rhos-cre
	read = group user/David Sariel (dsariel)
	rebase = group user/David Sariel (dsariel)
	removeReviewer = group rhos-cre
	removeReviewer = group user/David Sariel (dsariel)
	submit = group rhos-cre
	submit = group user/David Sariel (dsariel)
[access "refs/heads/*"]
	create = group rhos-cre
	create = group user/David Sariel (dsariel)
	push = group rhos-cre
	push = +force group user/David Sariel (dsariel)
	pushMerge = group rhos-cre
	pushMerge = group user/David Sariel (dsariel)
	read = group rhos-cre
	read = group user/David Sariel (dsariel)
[access "refs/tags/*"]
	push = group rhos-cre
	push = group user/David Sariel (dsariel)
	push = +force group user/David Sariel (dsariel)
